@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:'BYekan';
	src:url('../farsi/BYekan.eot');
	src:local('☺'),url('../farsi/BYekan.ttf') format('truetype'), 
    url('../farsi/BYekan.woff') format('woff'),
	url('../farsi/BYekan.svg') format('svg');
}

.b-yekan{
	
	font-family:BYekan,Tahoma,Times,serif;
	direction:rtl;
	
}

.b-yekan-med-1{
	
	font-size:20px;
	font-family:BYekan,Tahoma,Times,serif;
	direction:rtl;
	
}

.b-yekan-med-2{
	
	font-size:25px;
	font-family:BYekan,Tahoma,Times,serif;
	direction:rtl;
	
}

